.box {
  height: 200px;
  width: 200px;
  border: 2px solid green;
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  position: absolute;
}
.text {
  color: black;
  font-weight: bold;
}
